@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="    ">
    <div class="">
        <section>
            <form id="account" method="post">
                
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                    <div class="input-group-append">
                        <span asp-validation-for="Input.Email" ></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @* <label asp-for="Input.Password"></label> *@
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                 <div class = "input-group-append">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                </div>
                <div class="Col-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Log in</button>
                </div>
                <div class="form-group">
                  <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
   
</div>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
