@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Resources.Views.Shared._Layout.News</h2>
<h3> 2019 uudised</h3>

<div class="zlata">
    <img src="Pictures/Zlata-kutsikatega.jpg" alt="Zlata-kutsikatega" style="width: 350px;height: 250px;"/>
    
    <div>
        <p style="width: 65em">
            <br/>
            <br/>
            <br/>
            <strong> 12.05</strong> sündis kasvanduses Via Falconidu 7 kuldset kutsikat (5 isast ja 2 emast),
            kelle ema on meie kasvandik Ringokris Melian Odetta (RIngokris Melian Orellana õde – link Lanale) ja isa meie Priidik (Reval Dream Esprit).
            Rohkem teavet Susanna Karilt viafalconidu@gmail.com
        </p>
    </div>
</div>
<div>
    <img src="Pictures/Olku-jahikoerte-erikal-2019-1.jpg" alt="Olku-jahikoerte-erikal" style="width: 400px; height: 300px; float: right;"/>
    <div>
        <p style="width: 42em; padding-top: 60px">
            <br/>
            <br/>
            <strong>11.05</strong> – Jahikoerte erinäitus Säreveres – Ringokris Melian Olimar
            – avaklass SP1, SK, parim isane, sert, VSP. Ringokris Raymur Neroli
            – emane juunior, SP suures konkurentsis. Sotsialiseerumas käisid meie La-La-laa pesakonna kutsikad,
            kes olid just sellised, nagu ühed enesekindlad, parajalt uudishimulikud ja rahulikud 3,5-kuused kuldse retriiveri kutsikad peavad olema.
        </p>
        </div>
</div>
<div style="margin-top: 150px">
    <img src="Pictures/Rodon.jpg" style="width: 303px; height: 387px; float: left;"/>
    <div>
        <p style="width: 50em; padding-top: 130px ">
   
        <strong> 3. mail</strong> – sai 5-aastaseks meie R-pesakond, kelle isa Mailo (Tramin Magellan) sai 11-aastaseks. Õnnitleme! Pildil Ringokris Anorien Rodon
        </p>
    </div>
</div>
<div style="margin-top: 180px">
    <img src="Pictures/Olimar-jahikoolitusel.jpg" style=" float: right; width: 400px; height: 300px;"/>
    <div>
        <p style="width: 50em; padding-top: 120px ">
            
            <strong>20. aprill </strong> – Ringokris Melian Olimar, RK Kernow Tinuviel ja RK Raymur Neroli käisid Palamusel jahikoolitusel. Pildil Olimar
            
        </p>
    </div>
</div>
